#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gridStyle {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 2em;
  background-color: #353232;
  border-radius: 25px;
}

h1 {
}
